@import '../variables.scss';


.btn {
    border-radius: 4px;
    font-family: 'Helvetica', sans-serif;
    transition: all .35s ease;
}

.btn-primary {
    background: $primary;
    color: #FFF;
    border: 1px solid $primary;

    &:hover {
        background-color: #FFF;
        color: $primary;
    }
}

.btn-default {
    padding: 15px 14px;
}

.btn-lg {
    padding: 16px 35px;
}

.btn-transparent-white {
    border: 1px solid #FFF;  
    color: #FFF;
    background-color: transparent;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}