@import url('http://fonts.cdnfonts.com/css/poppins');

@import './variables.scss';
@import './reset.scss';
@import './spacing.scss';
@import './typography.scss';
@import './container.scss';
@import './flex.scss';
@import './grid.scss';
@import './components/buttons.scss';
@import './backgroundColors.scss';

// Helper Classes

.transitioned-basic {
    transition: all 0.25s ease-in-out;
}

.block {
    display: block !important;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.pos-r {
    position: relative;
}

.dib {
    display: inline-block;
}

.vat {
    vertical-align: top;
}

.dn {
    display: none;
}

.list-bullet {
    list-style-type: disc;
}

.rounded {
    border-radius: 12px;
}

.rounded-extra {
    border-radius: 30px;
}

.round {
    border-radius: 50%;
}


// More specific definitions

.first-section {
    @media (max-width: $tablet-max) {
        margin-top: 84px;
        // padding-top: 20px;
    }

    @media (min-width: $small-desktop-min) {
        margin-top: 127px;
    }
}

.scale-x-negative {
    transform: scaleX(-1);
}

.fit-cover {
    object-fit: cover;
}

.text-with-image {
    .image-box {
        @media (max-width: $tablet-max) {
            text-align: center;
        }
    }
}

.noborder {
    border: 0;
}

.is-provider-youtube {
    iframe {
        width: 100%;

        @media (min-width: $small-desktop-min) {
            min-height: 400px;
        }
    }
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
}

.cover-image {
    object-fit: cover;
}

.swiper-slide {
    @media (min-width: $small-desktop-min) {
        transition: opacity .4s ease-in-out;
        opacity: 1;
    }

    &:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev) {
        @media (min-width: $small-desktop-min) {
            opacity: 0;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    @media (min-width: $small-desktop-min) {
        filter: brightness(0) invert(1);
        transition: all .35s ease;
    }


    &:hover {
        @media (min-width: $small-desktop-min) {
            transform: scale(1.2);
            opacity: 1;
        }
    }
}

.swiper-button-prev {
    @media (min-width: $small-desktop-min) {
        left: -60px !important;
    }
}

.swiper-button-next {
    @media (min-width: $small-desktop-min) {
        right: -60px !important;
    }
}

.min-100vh {
    @media (min-width: $small-desktop-min) {
        min-height: 100vh;
    }
}