$spacings : 10px,
20px,
30px,
40px,
50px,
60px,
70px,
80px,
90px,
100px;

@each $s in $spacings {
	.pdt-#{$s} {
		&.keep-pdt {
			padding-top: $s;
		}

		@media (min-width: $small-desktop-min) {
			padding-top: $s;
		}
	}

	.pdt-mob-#{$s} {
		&:not(.keep-pdt) {
			@media (max-width: $tablet-max) {
				padding-top: $s;
			}
		}
	}

	.pdl-#{$s} {
		&.keep-pdl {
			padding-left: $s;
		}

		@media (min-width: $small-desktop-min) {
			padding-left: $s;
		}
	}

	.pdl-mob-#{$s} {
		&:not(.keep-pdl) {
			@media (max-width: $tablet-max) {
				padding-left: $s;
			}
		}
	}

	.pdr-#{$s} {
		&.keep-pdr {
			padding-right: $s;
		}

		@media (min-width: $small-desktop-min) {
			padding-right: $s;
		}
	}

	.pdr-mob-#{$s} {
		&:not(.keep-pdr) {
			@media (max-width: $tablet-max) {
				padding-right: $s;
			}
		}
	}

	.pdb-#{$s} {
		&.keep-pdb {
			padding-bottom: $s;
		}

		@media (min-width: $small-desktop-min) {
			padding-bottom: $s;
		}
	}

	.pdb-mob-#{$s} {
		&:not(.keep-pdb) {
			@media (max-width: $tablet-max) {
				padding-bottom: $s;
			}
		}
	}

	.mt-#{$s} {
		&.keep-mt {
			margin-top: $s;
		}

		@media (min-width: $small-desktop-min) {
			margin-top: $s;
		}
	}

	.mt-mob-#{$s} {
		&:not(.keep-mb) {
			@media (max-width: $tablet-max) {
				margin-top: $s;
			}
		}
	}

	.mb-#{$s} {

		&.keep-mb {
			margin-bottom: $s;
		}

		@media (min-width: $small-desktop-min) {
			margin-bottom: $s;
		}
	}

	.mb-mob-#{$s} {
		&:not(.keep-mb) {
			@media (max-width: $tablet-max) {
				margin-bottom: $s;
			}
		}
	}
}